*{
    margin: 0;
    padding: 0;
}

body{   
    background-color: black;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    min-height: 100px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#title{
    padding-left: 80px;
}

li{
    display: inline-block;
    margin: 15px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li:hover{
    color: #0fbbda;
}

header a{
    color: white;
    margin-right: 30px;
}

header h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
}

#imagem-principal > img{
    width: 35vw;
    margin-left: 15vh;
}

#inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40vw;
    background-image: url(./images/scattered-forcefields.svg);
    padding-top: 5vh;
}


#texto h2{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 45px;
}

#texto h3{
    font-size: 15px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#texto span{
    color: #0fbbda;
}

#texto button{
    transition: 0.5s;
    background-color: #0fbbda;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-top: 10px;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#texto button:hover{
    background-color: rgb(13, 152, 177);
    cursor: pointer;    
    transition: 0.5s;
    transform: scale(1.1);
       
}

#contato{
    display: flex;
    align-content: center;
    background-color: rgba(58, 58, 58, 0.37);
    justify-content: space-between;
    align-items: center;
}

.logo-contatos{
    width: 40px;
    padding: 15px 80px;
    transform: scale(0.8);
    transition: 0.5s;
}

.logo-contatos:hover{
    transition: 1s;
    -webkit-transition: all .5s ease-in-out;
    transform: scale(1.15);
}

.card-fundo:hover{
    background-color: #0fbbda;
    transition: 1s;
    -webkit-transition: all .5s ease-in-out;
}

#sobre{
    background-color: #0fbbda;
    background-image: url(./images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 40px;
    height: 50vw;
}

#sobre img{
    width: 90vh;
}

#sobre h2{
    font-size: 5vh;
    color: rgb(255, 255, 255);
    margin-bottom: 2vh;
}

#sobre p{
    font-size: 3vh;
    text-align: justify;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#escrita{
    padding: 0px 80px;
}

#imagem-carreira > img{
    width: 5vw;
    padding: 20px 20px;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-right: 2vw;
    cursor: pointer;
}

#imagem-carreira > img:hover{
    transition: all .3s ease-in-out;
    opacity: 0.85;
    background-color: rgba(240, 240, 240, 0.979);
}


#projetos{
    padding: 30px 100px;
    text-align: center;
}

#projeto-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    padding: 0vh 5vw;
    margin-bottom: 15vh;
}

#projeto-2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2vh;
    padding: 0vh 5vw;
    margin-top: 15vh;
}

#projeto1-esquerda{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: start;
    padding: 0px 5vw;
}

#projeto2-direita{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: end;
    padding: 0px 5vw;
}

#projetos h3{
    font-size: 5vh;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2vh;
}


#projetos h2{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5vh;
    margin-top: 2vh;
    text-transform: uppercase;
}

#projetos p{
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600px;
    margin-bottom: 2vh;

}


#projetos button{
    transition: 0.5s;
    background-color: #0fbbda;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-top: 10px;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#projetos button:hover{
    background-color: rgb(13, 152, 177);
    cursor: pointer;    
    transition: 0.5s;
    transform: scale(1.1);
       
}


#meu-contato{
    height: 30vw;
    background-color: #0fbbda;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0 20vw;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

#meu-contato h2{
    font-size: 5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;  
}

#meu-contato h3{
    font-size: 3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 5vh;
}

#meu-contato img{
    width: 5vh;
    margin-right: 15px;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: none;
}

input{
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(44, 44, 44);
    text-align: start;
    width: 20vw;
    height: 4vh;
    padding: 0vw 1vh;
    
}

label{
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
}

textarea{
    border: none;
    border-radius: 5px;    
}


footer{
    text-align: center;
    padding: 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}


@media(max-width: 1024px){
    header{
        flex-direction: row;
        align-items: center;
        position: relative;
        padding: 10px 0px;
        justify-content: center;
        gap: 10px;
    }

    header h1{
        text-align: center;
    }

    li{
        margin: 0;
    }

    ul{
        display: none;
    }

    #title{
        padding: 0 ;
    }
    
    #inicio{
        display: flex;
        flex-direction: column;   
        height: 100%;
        margin-bottom: 20px;
        background-image: none;
        padding: 8vh 5vw;
    }

    #imagem-principal > img{
        margin-left: 0;
        width: 35vh;
    }

    #texto{
        text-align: center;

    }

    #texto > h2{
        font-size: 26px;
        line-height: 30px;
    }

    #contato{
        display: flex;
        flex-direction: row;     
        height: 100%;
        padding: 10px 10px;
    }

    .logo-contatos{
        width: 5vh;
        padding: 0px 0px;
        transform: scale(0.8);
        transition: 0.5s;
    }

    #sobre{
        background-color: #0fbbda;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
        padding: 15vh 0vw;
    }

    #sobre h2{
        font-size: 26px;
        text-align: center;
        margin-bottom: 5px;
    }
    
    #sobre p{
        font-size: 18px;
        text-align: center;
        padding: 0px 20px;
    }

    #sobre img{
        width: 5vh;
    }
    
    #escrita{
        padding: 0px 0px;
    }

    #imagem-carreira {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    #minha-foto img{
        display: none;
    }

    #projetos{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0px 0px;
        padding: 0px 0px;
        align-items: center;
    }

    #projetos img{
        width: 10vh;
        margin: 20vh 0vw;
    }

    #projeto-1 img{  
        width: 35vh;
        margin: 0;
    }

    #projeto-2 img{  
        width: 35vh;
        margin: 0;
    }
    #projeto-1{
        margin: 5vh 0vw;
        display: flex;
        flex-direction: column;       
    }

    #projeto-2{
        display: flex;
        flex-direction: column;
        margin: 5vh 0vw;
    }

    #projeto1-esquerda{
        display: flex;
        align-items: center;
        text-align: center;
    }

    #projeto2-direita{
        display: flex;
        align-items: center;
        text-align: center;
    }

    #projeto-1 h2{
        font-size: 26px;
        margin: 10px 0px;
    }

    
    #projeto-2 h2{
        font-size: 26px;
        margin: 10px 0px;
    }

    #projeto-3 h2{
        font-size: 26px;
        margin: 10px 0px;
    }

    #projetos a> img{
        width: 35vh;
        margin: 0px 0px;
    }

    #projetos > h2{
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 26px;
    }


    #meu-contato{
        flex-direction: column;
        align-items: center;
        padding: 10vh 0vw;
        height: 100%;
    }

    #meu-contato h2{
        font-size: 30px;
        text-align: center;
    }

    #meu-contato h3{
        font-size: 22px;
        text-align: center;
    }

    #meu-contato img{
        width: 5vh;
        padding: 0px 0px;
        
    }

}